<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

  <meta charset="iso-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="">

<!-- ################################################################################################ -->
<div class="wrapper row2">
  <%= render 'shared/top_nav' %>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <!-- ################################################################################################ -->
  <%= render 'shared/intro' %>
  <!-- ################################################################################################ -->
  <div class="clear"></div>
</div>
<!-- content -->
<div class="wrapper row3">
  <%= render 'shared/container_home'%>
</div>
<!-- Footer -->
<div class="wrapper row2">

</div>
<div class="wrapper row4">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">MyMaid</a></p>

  </div>
</div>

</body>
</html>