


<!-- popup form #1 -->
<a href="#x" class="overlay" id="login_form"></a>
<div class="popup">
  <h2>Security options</h2>
  <p>Security and how you are shown to other users </p>
  <label for="pass3"></label>
  <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>User name and password control</span></a>
    <div class="accordion-content">

      <section class="last">


          <h2>Contact Us</h2>
          <form class="rnd5" action="#" method="post">
            <div class="form-input clear">
              <label class="one_third first" for="author">Name <span class="required">*</span><br>
                <input type="text" name="author" id="author" value="" size="22">
              </label>
              <label class="one_third" for="email">Email <span class="required">*</span><br>
              <input type="text" name="email" id="email" value="" size="22">
              </label>
              <label class="one_third" for="subject">Subject<br>
                <input type="text" name="subject" id="subject" value="" size="22">
              </label>
              <p>
              <input type="submit" value="Submit">
               </p>
          </div>
          </form>


        </section>
      </div>
    </div>
  </div>

<!-- popup form #2 -->
<a href="#x" class="overlay" id="join_form"></a>
<div class="popup">
  <h2>Sign Up</h2>
  <p>Please enter your details here</p>
  <div>
    <label for="email">Login (Email)</label>
    <input type="text" id="email" value="" />
  </div>
  <div>
    <label for="pass">Password</label>
    <input type="password" id="pass" value="" />
  </div>
  <div>
    <label for="firstname">First name</label>
    <input type="text" id="firstname" value="" />
  </div>
  <div>
    <label for="lastname">Last name</label>
    <input type="text" id="lastname" value="" />
  </div>
  <input type="button" value="Sign Up" />&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a href="#login_form" id="login_pop">Log In</a>

  <a class="close" href="#close"></a>
</div>
</body>
</html>