<div id="container">
  <!-- ################################################################################################ -->
  <div id="homepage" class="clear">
    <section class="last clear">
      <div class="one_half first">
        <h1>Latest news update</h1>
        <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>Check our new PowToon service presentation</span></a>
          <div class="accordion-content">
            <p>Feel free to go Full screen!</p>
            <p><iframe width="480" height="311" src="http://www.powtoon.com/embed/b5yufatyBtH/" frameborder="0" allowfullscreen></iframe></p>

          </div>
        </div>
        <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>New member in our team!</span></a>
          <div class="accordion-content">
            <p>Happy to update that<a href="pages/team-member.html" title="Team Member">Haim cohen</a> joined our team bla bla bla bal</p>
          </div>
        </div>
        <div class="accordion-wrapper"><a href="javascript:void(0)" class="accordion-title orange"><span>More headlines</span></a>
          <div class="accordion-content">
            <p>yesyeyes</p>
          </div>
        </div>
      </div>
      <div class="one_half">
        <h1>Alpa version screenshots</h1>
        <ul class="nospace spacing clear">
          <li class="one_quarter first"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter first"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
          <li class="one_quarter"><a href="#"><img src="assets/demo/570x570.gif" alt=""></a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- ################################################################################################ -->
  <div class="clear"></div>
</div>