
<li><a href="/">Home Page</a></li>
<li><%= link_to "Our Services", our_services_path %></li>
<li><a href="#">Meet the Team</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#"><%= link_to "About us!", about_us_path %></a></li>
<!--
<li><a href="#">Gallery</a></li>
<li><a href="#">Portfolio</a></li>
 <li><a href="#">Online Shop</a></li>
 -->