
<div id="intro">
  <section class="last clear">
    <ul class="nospace center clear">
      <li class="one_third first">
        <article>
          <div class="icon-fullscreen icon-8x blue push30"></div>
          <h1 class="emphasise">How it works?</h1>
          <p>User our blabla bla to locate the perfect candaite for bla bla bla</p>
          <footer><a href="#" class="button small gradient blue rnd5">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="icon-pushpin icon-8x purple push30"></div>
          <h1 class="emphasise">How can i search?</h1>
          <p>User our blabla bla to locate the perfect candaite for bla bla bla</p>
          <footer><a href="#" class="button small gradient purple rnd5">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article>
          <div class="icon-thumbs-up icon-8x red push30"></div>
          <h1 class="emphasise">Hire!</h1>
          <p>User our blabla bla to locate the perfect candaite for bla bla bla</p>
          <footer><a href="#" class="button small gradient red rnd5">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>
  </section>
</div>
