


<!-- popup form #1 -->
<a href="#x" class="overlay" id="login_form"></a>
<div class="popup">
  <h2>Security options</h2>
  <p>Security and how you are shown to other users </p>
  <label for="pass3"></label>
  <% render 'shared/bookapro' %>

  </div>

<!-- popup form #2 -->
<a href="#x" class="overlay" id="join_form"></a>
<div class="popup">
  <h2>Sign Up</h2>
  <p>Please enter your details here</p>
  <div>
    <label for="email">Login (Email)</label>
    <input type="text" id="email" value="" />
  </div>
  <div>
    <label for="pass">Password</label>
    <input type="password" id="pass" value="" />
  </div>
  <div>
    <label for="firstname">First name</label>
    <input type="text" id="firstname" value="" />
  </div>
  <div>
    <label for="lastname">Last name</label>
    <input type="text" id="lastname" value="" />
  </div>
  <input type="button" value="Sign Up" />&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a href="#login_form" id="login_pop">Log In</a>

  <a class="close" href="#close"></a>
</div>
</body>
</html>