<nav id="topnav">
  <ul class="clear">
    <li class="active"><%= link_to "HOME", @user %></li>
    <li><a class="drop" href="#" title="Profile"><%= @user.last_name%>'s Profile </a>
      <ul>
        <li><a href="#" title="Update your profile settings"> <span class="icon-user"></span> Edit Profile</a></li>
        <li><a href="#" title="Account settings"><span class="icon-cogs"></span> Account settings</a></li>
        <li><a href="#" title="Security options"><span class="icon-lock"></span> Security options</a></li>
        </ul>
    </li>
    <li><%= link_to "Signout", signup_path %></li>
    </ul>
</nav>