
<%= form_for(current_user_professional.users_pro_share.build(profeesional_id: @user.id)) do |f| %>
    <div><%= f.hidden_field :profeesional_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>