<a href="#login_form" id="login_pop" class="button small gradient black">Book me!</a>

<!--
<%= form_for(@professional.relationships.build(followed_id: @professional.id)) do |f| %>
    <div><%= f.hidden_field :followed_id %></div>
    <%= f.submit "Hire me!", class: "button small gradient black" %>

<% end %>

-->
