
      <h1><%= @professional.first_name%></h1>

    <h3><%= @title %></h3>

      <% @professional.follower_users.each do |results| %>
          <li>
            <%= link_to results.first_name, results %>
          </li>
      <% end %>




