<div class="wrapper row1">


<header id="header" class="full_width clear">
  <hgroup>
    <h1><a href="index.html">MyMaid</a></h1>
    <%if params[:controller] == 'professional' %> <h2>Connect with your clients</h2> <%else %> <h2>Connect with the help you need</h2> <%end%>

  </hgroup>

  <div id="header-contact">


    <ul class="list none">
      <li><span class="icon-envelope"></span> <a href="#">yanivomc@gmail.com</a></li>
      <li><span class="icon-phone"></span> +xx xxx xxxxxxxxxx</li>
    </ul>
  </div>

</header>
</div>