<header id="header" class="full_width clear">
  <hgroup>
    <h1><a href="index.html">Bookit.me</a></h1>
    <h2>Connect with the help you need</h2>
  </hgroup>

  <div id="header-contact">


    <ul class="list none">
      <li><span class="icon-envelope"></span> <a href="#">yanivomc@gmail.com</a></li>
      <li><span class="icon-phone"></span> +xx xxx xxxxxxxxxx</li>
    </ul>
  </div>

</header>